<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--stylesheet-->
    <link rel="stylesheet" href="style-Beneficios.css">

     <!--google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet">
    
    <!--Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <!--Este es el titulo de mi pestaña-->
    <title>Beneficios</title>

</head>

    <body>

        <!--Cabecera-->
        <header>
            <!--Logo-->
            <img class="logo" src="C:\Users\PC\Desktop\CODER\prototipo\desafio-1\src\assets\logo.jpg" alt="Logotipo">

            <!--Nombre de la compañia-->
            <h1 class="tittle">Ecitec</h1>

            <!-- Texto debajo del nombre del compañia-->
            <p class="subtitulo">Servicio de limpieza profesional</p>

            <!--Zona navegable -->
            <nav>

                <!--Menu-->
                <div class="menu">

                    <ul>
                        <li><a href="C:\Users\PC\Desktop\CODER\prototipo\desafio-1\index.html">
                                Inicio</a></li>

                        <li><a href="C:\Users\PC\Desktop\CODER\prototipo\desafio-1\src\views\servicios.html">
                                Servicios</a></li>

                        <li><a href="C:\Users\PC\Desktop\CODER\prototipo\desafio-1\src\views\beneficios.html">
                                Beneficios</a></li>

                        <li><a href="C:\Users\PC\Desktop\CODER\prototipo\desafio-1\src\views\galeria.html">
                                Galeria</a></li>

                        <li><a href="C:\Users\PC\Desktop\CODER\prototipo\desafio-1\src\views\contacto.html">
                                Contacto</a></li>

                    </ul>
                </div>
            </nav>
        </header>
        <!--Termina header-->

        <!--Linea horizontal-->
        <hr>

        <!-- Zona Navegable-->
        <section class="section-1">
        
            <div class="beneficio-1">

                <img src="../assets/b-1.jpg" alt="Oficina"  width="200" height="120">

            </div>  

            <!--Texto linkeable-->
            <p >
                <a class="link-1" href="https://www.islaplagas.com/beneficios-de-tener-un-espacio-limpio-de-trabajo/">
                    Beneficios de tener un ambiente de trabajo limpio.
                </a>
            </p> 
        </section>        
            
        <br> 
            
        <section class="section-2">

            <div class="beneficio-2">

                <img src="../assets/b-2.jpg" alt="Persona resfriada" width="200" height="120">
            
            </div>

            <!--Texto linkeable-->
            <p> 
                <a class="link-2" href="https://www.urbancleaner.es/limpieza-de-tapiceria/">
                La limpieza de tu tapicería te puede ahorrar un resfriado.
                </a>
            </p>
            
        </section>
        
        <br>     

        <section class="section-3">

            <div class="beneficio-3">

                <img src="../assets/b-3.jpg" alt="Lugar en armonia" width="200" height="120">
            
            </div>

            <!--Texto linkeable-->
            <p> 
                <a class="link-3" href="https://femiba.com/beneficios-de-la-limpieza-los-conoces">
                ¿Quieres saber cuáles son los beneficios de la limpieza?
                </a>
            </p>    
            
        </section>
        
        <br>    
        
        <section class="section-4">

            <div class="beneficio-4">

                <img src="../assets/b-4.jpg" alt="Limpieza de coche" width="200" height="120">

            </div>

            <!--Texto linkeable-->
            <p> 
                <a class="link-4" href="https://www.lavanguardia.com/motor/actualidad/20190222/46610303263/limpiar-coche-seguridad-salud.html">
                Esto es lo que podría pasarte si no limpias el coche
                </a>
            </p>
            
        </section>
        
        <br>     
        
        <section class="section-5">

            <div class="beneficio-5">

                <img src="../assets/b-5.jpg" alt="Estudiantes escribiendo" width="200" height="120">

            </div>

            <!--Texto linkeable-->
            <p>
                <a class="link-5" href="https://microclean-solutions.com/desinfeccion-limpieza-de-colegios-universidades/">
                La importancia de contar con un plan de desinfección y limpieza en los centros educativos
                </a>
            </p> 
            
        </section>
        
        <br>   
        
        <section class="section-6">

            <div class="beneficio-6">

                <img src="../assets/b-6.jpg" alt="Sala de conferencias" width="200" height="120">

            </div>

            <!--Texto linkeable-->
            <p>
                <a class="link-6" href="https://www.limtek.pe/blog/7-increibles-beneficios-de-la-limpieza-y-mantenimiento-en-oficinas">
                7 increíbles beneficios de la limpieza y mantenimiento en oficinas
                </a>
            </p> 
            
        </section>
        
        <br> 

        <section class="section-7">

            <div class="beneficio-7">

                <img src="../assets/b-7.jpg" alt="Escoba barriendo polvo" width="200" height="120">

            </div>

            <!--Texto linkeable-->
            <p> 
                <a class="link-7" href="https://www.elmueble.com/orden-limpieza-ahorro/por-que-tener-casa-mas-limpia-te-hara-sentir-mas-feliz_43313">
                Por que tener casa mas limpia te hara sentir mas feliz.
                </a>
            </p>
            
        </section>
        <!--Termina zona navegable-->
        

        <!--Linea horizontal-->
        <hr class="hr-ubicacion">

        <!-- Section parrafo final -->
        <section class="final">

            
            <!--Logo-->
            <img class="logo-final" src="../assets/logo.jpg" alt="Logotipo">

            <p class="titulo-final">Ecitec</p>

            <!--Parrafo final -->
            <p class="bio">Ecitec es una empresa dedicada a ofrecer servicios integrales de limpieza a centros educativos, residencias,
            comercios, industrias y en automóvil.</p>

            <!--Ubicacion del comercio-->
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26910.93458835135!2d-117.0379577920054!3d32.529703669764395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9485a82ce42b3%3A0xc7b29cc12debea5e!2sZona%20Urbana%20Rio%20Tijuana%2C%2022010%20Tijuana%2C%20B.C.!5e0!3m2!1ses!2smx!4v1639617555362!5m2!1ses!2smx"
                loading="lazy">
            </iframe>
        </section>
        <!--termina section-->

        <!--Divisor de contenido-->
        <hr class="hr-footer">

        <!--Pie de pagina-->
        <footer>

            <!--Correo-->
            <a href="mailto:Usuario@Ecitec.com" class="fa fa-envelope"></a>

            <!--Telefono-->
            <a href="tel:555-555-5555" class="fa fa-phone"></a>

            <!--Icon de facebook-->
            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>

        </footer>

    </body>

</html>