{% extends "layout.html" %}

{% block title %} Galeria {% endblock %}

{

    <body>

        <!--Cabecera-->
    
        <!--Termina header-->

        <!--Linea horizontal-->
        <hr>

        <!-- Inicio de section-->
        <section class="container">
           
            <img src="../assets/download.jpg"  width="450" height="250">
    
            <img src="../assets/download (3).jpg" width="450" height="250">
                    
            <img src="../assets/download (2).jpg" width="450" height="250">
               
            <img src="../assets/restaurant-hood-cleaning.jpg" width="450" height="250">
        
            <img src="../assets/auto-cleaning-before-after.jpg" width="450" height="250">
          
            <img src="../assets/download (1).jpg" width="450" height="250">
                  
        </section>
        <!--termina section-->

        <!--Linea horizontal-->
        <hr class="hr-cotizacion">

        <!--Section de Cotizacion-->
        <section class="cotizacion">

            <p class="text-cotizacion">Nuestros clientes nos importan y se los hacemos saber dándoles un presupuesto en base a su economía</p>
            
            <!-- Boton de cotizacion-->
            <a  href="file:///C:/Users/PC/Desktop/CODER/prototipo/desafio-1/src/views/contacto.html" class="button">Cotizar</a>
            
        </section>
        <!--Termina section de cotizacion-->

       <!--Linea horizontal-->
       <hr class="hr-ubicacion">


        <!-- Section parrafo final -->
        <section class="final">
            
            <!--Logo-->
            <img class="logo-final" src="../assets/logo.jpg" alt="Logotipo">

            <p class="titulo-final">Ecitec</p>

            <!--Parrafo final -->
            <p class="bio">Ecitec es una empresa dedicada a ofrecer servicios integrales de limpieza a centros educativos, residencias,
            comercios, industrias y en automóvil.</p>

            <!--Ubicacion del comercio-->
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26910.93458835135!2d-117.0379577920054!3d32.529703669764395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9485a82ce42b3%3A0xc7b29cc12debea5e!2sZona%20Urbana%20Rio%20Tijuana%2C%2022010%20Tijuana%2C%20B.C.!5e0!3m2!1ses!2smx!4v1639617555362!5m2!1ses!2smx"
                loading="lazy">
            </iframe>

        </section>
        <!--termina section-->

        <!--Divisor de contenido-->
        <hr class="hr-footer">
    
        <!--Pie de pagina-->
      

    </body>
    


{% endblock %}