<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <!--stylesheet-->
        <link rel="stylesheet" href="style-Servicios.css">
        
        <!--google font-->
        <link rel = "preconnect" href = "https://fonts.googleapis.com">
        <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
        <link href = "https://fonts.googleapis.com/css2?family=Spectral&display=swap">
        
        <!--Icons de footer-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!--Este es el titulo de mi pestaña-->
        <title>Servicios</title>

    </head>

    <body>

        <!--Cabecera-->
        <header>
            <!--Logo-->
            <img class="logo" src="C:\Users\PC\Desktop\CODER\prototipo\desafio-1\src\assets\logo.jpg" alt="Logotipo">
        
            <!--Nombre de la compañia-->
            <h1 class="tittle">
                Ecitec</h1>

            <!-- Texto debajo del nombre del compañia-->
            <p class="subtitulo">Servicio de limpieza profesional</p>
            
            <!--Zona navegable -->
            <nav>
                
                <!--Menu-->
                <div class="menu">
                
                    <ul>
                        <li><a href="C:\Users\PC\Desktop\CODER\prototipo\desafio-1\index.html">
                                Inicio</a></li>

                        <li><a href="C:\Users\PC\Desktop\CODER\prototipo\desafio-1\src\views\servicios.html">
                                Servicios</a></li>

                        <li><a href="C:\Users\PC\Desktop\CODER\prototipo\desafio-1\src\views\beneficios.html">
                                Beneficios</a></li>

                        <li><a href="C:\Users\PC\Desktop\CODER\prototipo\desafio-1\src\views\galeria.html">
                                Galeria</a></li>

                        <li><a href="C:\Users\PC\Desktop\CODER\prototipo\desafio-1\src\views\contacto.html">
                                Contacto</a></li>                                
                    </ul>
                </div> 
            </nav>
        </header>
        <!--Termina header-->

        <!--Linea horizontal-->
        <hr>

        <!--Inicia section de contenido-->
        <section>
           
            <div Class="automotriz">
                <img src="../assets/1.png" alt="servicio automotriz" width="237" height="158">
            </div>
                
            <p class="disc-automotriz">
                Automotriz:
            <br>
                Haga que sus coches y camionetas parezcan nuevos.
                Garantizamos cada limpieza y te tratamos como debe ser.  
                Cabe destacar que nuestros precios varían en función de si se trata de coche compacto, sedán, SUV pequeño, mediano y grande.Somos una empresa 100% puntual y responsable. Estamos comprometidos con el medio ambiente, por eso utilizamos productos biodegradables  de excelente calidad. 
            </p>

        </section>

        <section>
            <div class="residencial">
                <img src="../assets/comercio.jpg" width="237" height="158">
            </div>
            
                <p class="disc-residencial">  
                    Residencial:
                    <br>
                    Mantener un espacio ordenado y limpio tiene más efectos positivos de lo que parece, mejora su estado de ánimo y le permite realizar sus negocios de manera más eficiente. Reduce la propagación de enfermedades y crea un espacio más limpio.
                </p>
        </section>

        <section>
            <div class="escolar"> 
                <img src="../assets/escuela.jpg" alt="servio en centros educativos" width="237" height="158">
            </div>
                
                <p class="disc-escolar">Centros Educativos:
            
                <br> 
                    La limpieza total de un centro educativo no es muy diferente a la  de otras instituciones, aunque cabe señalar que la mayoría de las personas que ocupan el centro son niños o adolescentes. En cualquier caso, se trata de personas cuyas defensas aún no se han desarrollado y, por  tanto, son más susceptibles a infecciones. Por esta razón, somos más cautelosos en áreas clave.
                </p>
            
        </section>
    
        <section>
            <div class="comercios">
                <img src="../assets/comercio.jpg" alt="servio en comercios" width="237" height="158">
            </div>
        
                <p class="disc-comercios">Comercios:

                <br>
                La correcta limpieza de un local comercial no sólo es fundamental para cumplir con las medidas de higiene necesarias y obligatorias, sino también para transmitir una imagen positiva a los clientes y que esto se traduzca en mayores ventas y reconocimiento. Asi mismo se crea un mejor ambiente de trabajo para todos.
                </p>
        </section>
        <!--Termina section de contenido-->

        <!--Linea horizontal con clase-->
        <hr class="hr-cotizacion">
        
            
        <!--Section de Cotizacion-->
        <section class="cotizacion">

            <p class="text-cotizacion">Nuestros clientes nos importan y se los hacemos saber dándoles un presupuesto en base a su economía</p>
            
            <!-- Boton de cotizacion-->
            <a  href="file:///C:/Users/PC/Desktop/CODER/prototipo/desafio-1/src/views/contacto.html" class="button">Cotizar</a>
            
        </section>
        <!--Termina section de cotizacion-->

        <!--Linea horizontal con clase-->
        <hr class="hr-ubicacion">

        <!-- Section parrafo final -->
        <section class="final">

            
            <!--Logo-->
            <img class="logo-final" src="../assets/logo.jpg" alt="Logotipo">

            <p class="titulo-final">Ecitec</p>

             <!--Parrafo final -->
            <p class="bio">Ecitec es una empresa dedicada a ofrecer servicios integrales de limpieza a centros educativos, residencias,
            comercios, industrias y en automóvil.</p>

            <!--Ubicacion del comercio-->
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26910.93458835135!2d-117.0379577920054!3d32.529703669764395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9485a82ce42b3%3A0xc7b29cc12debea5e!2sZona%20Urbana%20Rio%20Tijuana%2C%2022010%20Tijuana%2C%20B.C.!5e0!3m2!1ses!2smx!4v1639617555362!5m2!1ses!2smx"
                loading="lazy">
            </iframe>

        </section>
        <!--Termina section parrafo final-->

        
        <!--Linea horizontal con clase-->
        <hr class="hr-footer">

        <!--Pie de pagina-->    
        <footer>

            <!--Correo-->
            <a href="mailto:Usuario@Ecitec.com" class="fa fa-envelope"></a>

            <!--Telefono-->
            <a href="tel:555-555-5555" class="fa fa-phone"></a>

            <!--Icon de facebook-->
            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>

        </footer>
        
    </body>

</html>